<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Corona Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=k9c9rid7y5"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <!-- Custom styles for this template-->
    <link href="stylesheets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="stylesheets/sb-admin-2.min.css" rel="stylesheet">


</head>

<body>
<div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">OSS_PROJECT</div>
            </a>


            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span><h6>COVID-19 Tracker</h6>
                       코로나 현황을 전국별, 지역별 집계로 보여주고<br>
                       코로나 검사를 위한 선별 진료소 현황을 보여줍니다.<br><br>
                       <h6>만든이</h6>
                       안유성<br>
                       이주연<br>
                       박영서<br>

                     </span></a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" style="margin-top: 30px;">COVID-19 Tracker</h1>
                    </div>
                    <hr class="sidebar-divider my-4">
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4" style="width:200%;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">총 확진자 수(누적)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-10">
                                               누적 확진자</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <%= title %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                누적 사망</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dead %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">누적 검사 수
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= accumlate %></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                완치자 수</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= cure %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4" >
                            <div class="card shadow mb-4"style="width:200%;">
                                <div class="card-header py-3" >
                                    <h6 class="m-0 font-weight-bold text-primary">선별진료소 map</h6>
                                </div>
                                <!--<div id="navbar">선별진료소 map</div>-->
                                <div class="card-body" >
                                    <div id="infoBox">
                                        <div id="infoTitle">현재날짜</div>
                                        <div id="infoContent">2020.07.10</div>
                                    </div>
                                    <div id="current">현재 위치</div>
                                    <div id="map" style="width:100%;height:50vh;"></div>
                                </div>
                            </div>
                        </div>
                       <!-- Content Column -->
                </div>
                <!--지역별 확진자 수 카드 만들기-->
                <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4" style="width:200%;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">지역별 확진자 수(누적)</h6>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                      <% for(var i=0; i<cities.length;i++){ %>
                      <div style="width: 50%;">
                      <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" >
                                    <h6 class="m-0 font-weight-bold text-primary"><%= cities[i] %></h6>
                                </div>
                                <!--<div id="navbar">선별진료소 map</div>-->
                                <div class="card-body" >
                                            확진자 수: <%= inform_cities[i][0].replace(/["]+/g, "") %> 명<br>
                                            사망 수: <%= inform_cities[i][1].replace(/["]+/g, "") %> 명<br>
                                            완치자 수: <%= inform_cities[i][2].replace(/["]+/g, "") %> 명<br>
                                            치료 중: <%= inform_cities[i][3].replace(/["]+/g, "") %> 명<br>
                                </div>
                            </div>
                      </div>
                      </div>
                      <% } %>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

   </div>

<script type="text/javascript" src="/action.js"></script>
<script type="text/javascript" src="/data/location.js"></script>
<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);

var markerList=[];
var infoWindowList=[];


for(var i in locations){
  var target=locations[i];
  var latlng=new naver.maps.LatLng(target.Lat,target.Lng);
  marker=new naver.maps.Marker({
    map:map,
    position:latlng,
    icon:{
      content:"<div class='marker'></div>",
      anchor:new naver.maps.Point(12,12)
    },
  });  

  var content=`<div class='infowindow_wrap'>
    <div class='infowindow_name'>${target.name}</div>
    <div class='infowindow_address'>${target.address}</div>
    <div class='infowindow_tel'>${target.tel}</div>
  </div>`

  var infowindow = new naver.maps.InfoWindow({
    content:content,
    backgroundColor:"#00ff0000",
    borderColor:"#00ff0000",
    anchorSize:new naver.maps.Size(0,0)
  })
  markerList.push(marker);
  infoWindowList.push(infowindow);
}

for(var i=0, ii=markerList.length; i<ii; i++){
  naver.maps.Event.addListener(map,"click",ClickMap(i));
  naver.maps.Event.addListener(markerList[i],"click",getClickHandler(i));
}

function ClickMap(i){
  return function(){
    var infowindow=infoWindowList[i];
    infowindow.close();
  }
}

function getClickHandler(i){
  return function(){
    var marker=markerList[i];
    var infowindow=infoWindowList[i];
    
    if(infowindow.getMap()){
      infowindow.close();
    }else{
      infowindow.open(map,marker)
    }
  }
}

//현재 위치 받아오는거 버그 있는듯.
$("#current").click(() => {
    if ("geolocation" in navigator) {
      navigator.geolocation.getCurrentPosition(function (position) {
        const lat = position.coords.latitude;
        const lng = position.coords.longitude;
        const latlng = new naver.maps.LatLng(lat, lng);
        marker = new naver.maps.Marker({
          map: map,
          position: latlng,
        });
        // map.setZoom(14, false);
        // map.panTo(latlng);
      });
    } else {
      alert("위치 정보 사용 불가능");
    }
  });

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
</body>
</html>